
.hasPopover {position:relative}

.hasPopover span.popover{display: none}

.hasPopover:hover span.popover
{
    display:block;
    position:absolute;
    top:2em; left:2em; width:10em;
    border:1px solid #0cf;
    background-color:#fff;
}